
/* styles.css */
body {
    background-color: #f0f0f0; /* Cambiar el color de fondo */
}

.new-button {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* style.css */
body {
    background-color: yellow;
}

/* login.css */
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

/* films.css */
.film {
    cursor: pointer !important;
}
