<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el recurso solicitado (archivo o directorio) no existe, redirige a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>
